body {
    background-color: rgb(168, 168, 230);
}

.header {
    border: 3px rgb(152, 135, 227) solid;
    display: flex;
    justify-content: space-between;
}

.logoImg {
    border: 3px rgb(159, 97, 97) solid;
}

.profile-pic {
    border: 3px rgb(230, 230, 164) solid;
}

.uploader {
    border: 3px silver solid;
}

.profile {
    border: 3px gold solid;
    display: flex;
    justify-content: left;
}

.profile img {
    width: 120px;
    /* image within the profile component is bigger than the one in the header */
}

.otherProfile {
    border: 3px purple solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.otherProfile img {
    width: 120px;
    /* image within the profile component is bigger than the one in the header */
}

.otherProfileImgAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherProfileBio {
    width: 80%;
}

.oneChatMessage {
    display: flex;
    padding-left: 10px;
}

#chat-messages {
    overflow: scroll;
    height: 100%;
}
